.wrapper{
    // padding: 2em;


    .header-home{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #2F3336;

        span {
            display: flex;
            color: #fff;
            align-items: center;
            height: 2.7em;
            width: fit-content;
            padding: 1em 2em;
            font-size: 1.3rem;
            font-weight: 700;
        }
    }


    .header-afthome{
        border-bottom: 1px solid #2F3336;
        padding: 1em 2em;
        display: flex;
        gap: 1rem;
        // align-items: center;
        color: #fff;
        font-size: 1em;

        .photo{
            border-radius: 100%;
            height: 4em;
            width: 4em;
            // margin-left: 0.7em;

            img{
                width: 100%;
                border-radius: 100%;
                object-fit: cover;
            }
        }

        .containere{
            display: flex;
            height: 8rem;
            width: 100%;
            flex-direction: column;
            justify-content: space-between;

            input{
                background: unset;
                border: unset;
                padding: 0.5em 0;
                font-size: 1.2em;
                color: #fff;
                &:focus{
                    border: none;
                    outline: none;
                }
            }

            .footer{
                display: flex;
                justify-content: space-between;
                align-items: center;

                .container-icon{
                    
                    span {
                        color: #0f90e5;
                        margin-right: 1rem;
                        height: 2.7em;
                        width: fit-content;
                        font-size: 1.3rem;
                        font-weight: 700;
                    }
                }
                
                button {
                    background: unset;
                    border: unset;
                }
                button.tweet{
                    background: #1da1f2;
                    color: #fff;
                    padding: 0.7em 1.8em;
                    border-radius: 1.5em;
                    font-size: 1em;
                    cursor: pointer;
                
                    &:hover{
                       background:#0f90e5 ; 
                    }
                }
            }
        }
    }

}



