.imagelaura{
    width: 48px;
    height: 48px; 
    border-radius: 40px;
    padding: 12px;
  }

.middleprofile{
  width: 700px;
  height: 200px;
  background-color: #202327;
  margin: 0px;
  margin-bottom: 70px;
}
.laurakabeya{
    position: relative;
    left: 3rem;
    bottom: 3rem;
    height: 100px;
    
    }